<nav>
            
        <ul class="nav-logo">
            <li>
                <a href="/">Notes App</a>
            </li>
        </ul>

        <ul class="nav-menu">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle dropdown" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Notes
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/notes">All Notes</a>
                <a class="dropdown-item" href="/notes/add">Add A Note</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Log Out</a>
                </div>
            </li>
        </ul>

        <ul class="nav-rigth">
            <li>
                <a href="/">Login</a>
            </li>
            <li>
                <a href="/">Register</a>
            </li>
        </ul>
</nav>